In [1]:
import pandas as pd
import sys
import matplotlib.pyplot as plt 
import seaborn as sns
from matplotlib import font_manager as fm, rcParams
from matplotlib.offsetbox import AnchoredText

In [2]:
sys.path.append("../")

In [3]:
df = pd.read_csv('../data/measurements.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [5]:
columns_names = ['distance', 'consume', 'speed', 'temp_inside', 'temp_outside', 'specials',
       'gas_type', 'ac', 'rain', 'sun', 'refill_liters', 'refill_gas']

In [6]:
df.columns = columns_names

In [7]:
df[df.refill_liters.notna()]

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill_liters,refill_gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
44,"5,4","3,3",32,"21,5",7,NaN,SP98,0,0,0,"37,6",SP98
82,"10,5","3,6",42,20,10,NaN,SP98,0,0,0,"37,7",SP98
106,"162,7","5,5",75,23,1,NaN,SP98,0,0,0,45,SP98
139,"16,1","5,4",24,"21,5",7,rain,E10,0,1,0,38,E10
171,"44,4","4,8",38,"21,5",8,NaN,E10,0,0,0,"38,3",E10
191,"43,7","4,7",44,22,9,half rain half sun,SP98,0,1,0,10,SP98
192,"12,1","4,2",43,22,4,NaN,SP98,0,0,0,39,SP98
234,19,"4,5",29,"22,5",10,NaN,E10,0,0,0,39,E10
274,"25,7","4,9",50,22,10,rain,SP98,0,1,0,41,SP98
313,"11,3","4,3",38,22,17,NaN,SP98,0,0,0,37,SP98
325,"16,6","3,7",49,22,17,NaN,E10,0,0,0,"37,7",E10
349,"18,3","4,3",46,22,16,NaN,SP98,0,0,0,"37,2",SP98

In [8]:
df.specials.value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
sun ac                 3
snow                   3
half rain half sun     1
ac rain                1
AC sun                 1
AC Sun                 1
AC snow                1
Name: specials, dtype: int64

In [9]:
df.specials[df.specials == 'AC snow'] = 'AC Snow'

<ipython-input-9-332b205b77c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'AC snow'] = 'AC Snow'

In [10]:
df.specials[df.specials == 'sun'] = 'Sun'

<ipython-input-10-216b32b80988>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'sun'] = 'Sun'

In [11]:
df.specials[df.specials == 'rain'] = 'Rain'

<ipython-input-11-f30a93bce499>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'rain'] = 'Rain'

In [12]:
df.specials[df.specials == 'ac'] = 'AC'

<ipython-input-12-ec0c57549dbd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'ac'] = 'AC'

In [13]:
df.specials[df.specials == 'sun ac'] = 'AC Sun'

<ipython-input-13-1769b8fbcacc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'sun ac'] = 'AC Sun'

In [14]:
df.specials[df.specials == 'ac rain'] = 'AC Rain'

<ipython-input-14-22ed7aadcea6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'ac rain'] = 'AC Rain'

In [15]:
df.specials[df.specials == 'AC rain'] = 'AC Rain'

<ipython-input-15-42999fe6faf4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'AC rain'] = 'AC Rain'

In [16]:
df.specials[df.specials == 'AC sun'] = 'AC Sun'

<ipython-input-16-fdbc91976ef9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'AC sun'] = 'AC Sun'

In [17]:
df.specials[df.specials == 'snow'] = 'Snow'

<ipython-input-17-b4de3ac64d52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'snow'] = 'Snow'

In [18]:
df.specials[df.specials == 'sun'] = 'Sun'

<ipython-input-18-216b32b80988>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'sun'] = 'Sun'

In [19]:
df.specials[df.specials == 'half rain half sun'] = 'Rain_Sun'

<ipython-input-19-14d409744d13>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.specials[df.specials == 'half rain half sun'] = 'Rain_Sun'

In [20]:
def numerico(elem):
    respuesta = float(elem.replace(',', '.'))
    return respuesta

In [21]:
df.consume = df.consume.apply(numerico)

In [22]:
df.distance = df.distance.apply(numerico)

In [ ]:
df.temp_inside = df.temp_inside.apply(numerico)

In [25]:
df.specials = df.specials.fillna('Otro')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       388 non-null    object
 6   gas_type       388 non-null    object
 7   ac             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill_liters  13 non-null     object
 11  refill_gas     13 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 36.5+ KB

In [35]:
df['consumo_abs'] = df.consume*df.distance/100

In [36]:
df['CO2'] = df.consumo_abs * 2300

In [37]:
df['CO2_km'] = df.CO2 / df.distance

https://www.leaseplango.es/blog/conduccion-eficiente/calcular-emisiones-co2-coche/

el coche se tiene que mantener en un margen de 127.7 para que las emisiones sean aceptables y no se considere que se est√° deteriorando el motor

In [38]:
df['speed_range'] = pd.cut(df.speed, bins=[0, 30, 60, 90])

In [39]:
df['temp_o_range'] = pd.cut(df.temp_outside, bins=[-5, 0, 5, 10, 15, 20, 25, 30, 35])

In [53]:
def monetizar(elem):
    print (type(elem))
    #if elem.gas_type == 'E10':
    #    return elem.cosumo_abs*1.379
    #else:
    #    return elem.consumo_abs*1.459

In [67]:
df['gasto'] = round( (df.consumo_abs[df.gas_type == 'E10'] * 1.379), 4)
df.gasto[df.gas_type == 'SP98'] = round ( (df.consumo_abs * 1.459), 4)

<ipython-input-67-b274f9b6d76f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.gasto[df.gas_type == 'SP98'] = round ( (df.consumo_abs * 1.459), 4)

In [82]:
df['gasto_medio'] = round( (df.consume[df.gas_type == 'E10'] * 1.379), 4)
df.gasto_medio[df.gas_type == 'SP98'] = round ( (df.consume* 1.459), 4)

<ipython-input-82-a8d09657905f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.gasto_medio[df.gas_type == 'SP98'] = round ( (df.consume* 1.459), 4)

In [83]:
df[['distance', 'consumo_abs', 'gas_type', 'gasto', 'gasto_medio']].sample(5)

     distance  consumo_abs gas_type   gasto  gasto_medio
161      26.6       1.2768      E10  1.7607       6.6192
145      20.1       0.8844      E10  1.2196       6.0676
1        12.0       0.5040      E10  0.6950       5.7918
94       11.8       0.6962     SP98  1.0158       8.6081
348      16.6       0.7636      E10  1.0530       6.3434

In [77]:
df.gasto.groupby(df.gas_type).mean()

gas_type
E10     1.391319
SP98    1.289200
Name: gasto, dtype: float64

In [84]:
df.gasto_medio.groupby(df.gas_type).mean()

gas_type
E10     6.800194
SP98    7.147820
Name: gasto_medio, dtype: float64

In [85]:
df.to_csv('../data/medidas_coche.csv')